.base {
  display: flex;

  height: 100vh;

  flex-direction: column;

  align-items: center;

  background-color: #de9494;

  padding: 60px;
}

.base > div {
  display: flex;

  align-items: center;

  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.btn-primary {
  font-size: 16px;

  padding: 10px 20px;
}

.btd {
  padding-top: 20px;

  color: rgb(245, 245, 223);
}
