<div class="base">
  <div class="view">
    <h1>Top 5 orders</h1>

    <select (change)="yearSelected($event)">
      <option value="">Select a year</option>

      <option *ngFor="let year of yearList" [value]="year">{{ year }}</option>
    </select>

    <select (change)="monthSelected($event)">
      <option value="">Select a month</option>

      <option *ngFor="let month of monthList" [value]="month">
        {{ month }}
      </option>
    </select>

    <button (click)="search()">Search</button>

    <div *ngFor="let order of productList">
      <p style="color: rgb(5, 6, 6)">{{ order.productName }}</p>
    </div>
  </div>

  <p class="redirecttosignup">
    <a style="color: aliceblue" routerLink="/dashboard">Back to Dashboard</a>
  </p>
</div>
